.userItem {

  img {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
    border-radius: 16px;
    border: 1px solid white;
    display: inline-block;
  }

  p {
    color: white;
    float:right;
    margin: 16px 10px 16px 0px;
    display: inline-block;
  }

}
