@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/eot/SpoqaHanSans-Thin.eot);
  src: url(/fonts/eot/SpoqaHanSans-Thin.eot?#iefix) format('embedded-opentype'),
  url(/fonts/woff/SpoqaHanSans-Thin.woff) format('woff'),
  url(/fonts/ttf/NanumGothic-Thin.ttf) format('truetype'),
  url(/fonts/svg/SpoqaHanSans-Thin.svg#svgFontName) format('svg');
}

@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/eot/SpoqaHanSans-Regular.eot);
  src: url(/fonts/eot/SpoqaHanSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(/fonts/woff/SpoqaHanSans-Regular.woff) format('woff'),
  url(/fonts/ttf/NanumGothic-Regular.ttf) format('truetype'),
  url(/fonts/svg/SpoqaHanSans-Regular.svg#svgFontName) format('svg');
}

@font-face {
  font-family: 'SpoqaHanSans';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/eot/SpoqaHanSans-Bold.eot);
  src: url(/fonts/eot/SpoqaHanSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(/fonts/woff/SpoqaHanSans-Bold.woff) format('woff'),
  url(/fonts/ttf/NanumGothic-Bold.ttf) format('truetype'),
  url(/fonts/svg/SpoqaHanSans-Bold.svg#svgFontName) format('svg');
}